.absolute-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.max-width{
    width: 80%;
    margin: auto;
}
.cur-po{
    cursor: pointer;
}
.heading-gradient{
    background: var(--text-gradient-bg);
    background: var(--text-gradient-1);
    background-clip: text;
    -webkit-text-fill-color: transparent;
   
}