.button{
    padding: 15px 55px;
    font-size: 24px;
    font-weight: 600;
    /* background-color: aqua; */
    border-radius: 60px;
    width: max-content;
    cursor: pointer;
}

.primary-btn{
    color: var(--white);
    background-color: var(--btn-bg);
    text-transform: uppercase;
}
.secondary-btn{
    border: 2px solid white;
}